  * {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
  }

  .header {
    background-color: rgba(1, 1, 1, 0.822);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .nav ul {
    display: flex;
    list-style: none;
  }
  .nav a {
    color: #fff;
    font-size: 26px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
  }

  .nav > li {
    display: inline-block;
  }

  .nav li {
    position: relative;
  }

  .nav > li > a {
    color: #fff;
    text-transform: uppercase;
  }
  .nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
  }

  .nav li:hover .subnav {
    display: block;
  }

  .nav .subnav li:hover a {
      color: #000;
      background-color: #ccc;
  }
   
  .nav .subnav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 160px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .nav .subnav a {
      color: #000;
      padding: 0 12px;
      line-height: 38px;
  }
  
  h1 {
      position: absolute;
      
  }

  
